<p>=======================================<br/>
Compatible Ram List For    <%= @mid.Manufacturer%> -- <%= @mid.ModelName%><br/>
  =======================================
</p>
<div>
    <% @rams.each do |rid| %>
    <%if @mid.RamGeneration == rid.RamGeneration && @mid.RamFrequency == rid.RamFrequency %>
      <li><%= rid.Manufacturer %>
        <%= rid.ModelName %>
        <%= rid.RamSize %>
      </li>
        <% end %>
      <% end %>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>

