<%= form_with(model: motherboard) do |form| %>
  <% if motherboard.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(motherboard.errors.count, "error") %> prohibited this motherboard from being saved:</h2>

      <ul>
        <% motherboard.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ModelName %>
    <%= form.text_field :ModelName %>
  </div>

  <div class="field">
    <%= form.label :Manufacturer %>
    <%= form.text_field :Manufacturer %>
  </div>

  <div class="field">
    <%= form.label :RamFrequency %>
    <%= form.text_field :RamFrequency %>
  </div>

  <div class="field">
    <%= form.label :RamGeneration %>
    <%= form.text_field :RamGeneration %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
